@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body{
    font-family: "Lato", sans-serif;
    overflow: hidden;
  }

  .layout {
    @apply h-[100vh] max-w-[1366px] ml-auto mr-auto pl-[20px] pr-[20px] flex flex-col;
  }

  .link-transition {
    @apply transition-all duration-300 ease-in-out hover:scale-105;
  }

 .menu {
  position: absolute;
  top: 0;
  right: -50%;
  background-color: rgb(1, 1, 5);
  color: white;
  height: 100vh;
  width: 50%;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.menu.active {
  right: 0;
}


.item {
  display: flex;
  flex-direction: column;
  gap: 2px;

  label {
    font-size: 10px;
  }

  input,
  select {
    width: 100px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
  }
}

.top {
  input {
    width: 100%;
  }
}


.thin-scrollbar::-webkit-scrollbar {
  width: 4px; 
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #5d5454; 
  border-radius: 4px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
}


.feature {
  @apply flex items-center gap-[10px];
}

.message{
  @apply  p-2 rounded-[10px] flex items-center gap-[20px] cursor-pointer;
}

.pro-scrollbar::-webkit-scrollbar {
  width: 0px; 
}


.form-item {
  @apply w-[30%] flex flex-col gap-[5px];
}

.description {
  width: 100%;
  height: 320px;
}

@layer utilities {
  .quill .ql-container .ql-editor {
    height: 200px;
    font-size: 16px;
  }
}



